body {
    background-color: beige;
}

header {
    background-color: lightsteelblue;
}

footer {
    color: white;
    background-color: darkolivegreen;
}

h1 {
    font-family: 'Lobster', cursive;
    color:darkolivegreen;
}

h2 {
    color:darkslategray;
    margin: 0;
}

.choice {
    cursor: pointer;
}

.choice img {
    background-color: lightgray;
    border-radius: 12px;
}

.choice img:hover {
    background-color: lightsteelblue;
}

.choice img:active {
    background-color:darkolivegreen;
    color: white;
}

#scoreboard, #scoreHistory {
    width: 700px;
}

#scoreHistory h4,
#scoreHistory .dash {
    font-weight: 200;
}

#playerBoxScore {
    margin-left: 40px;
    color:darkslategray;
}

#computerBoxScore {
    margin-right: 40px;
    color: darkslategray;
}

.player {
    width: 300px;
}

.computer {
    width: 300px;
}

.player span {
    display: inline-block;
    margin-left: 60px;
    color: gray;
    font-weight: 200;
}

.computer span {
    display: inline-block;
    margin-right: 60px;
    color: gray;
    font-weight: 200;
}

ul {
    list-style: none;
}

li {
    font-size: 1.2rem;
    font-weight: 200;
}

.modal-footer {
    background-color: lightgray;
}